apiVersion: v1
kind: Namespace
metadata:
  name: gateway-admin
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gtwadmin-config
  namespace: gateway-admin
data: 
  application: |
    APP_NAME=Laravel
    APP_ENV=production
    APP_KEY=base64:8TDSgIYMD+k2kKmKP5xTdMs2QahRzhZmD3AJK9P9sFA=
    APP_DEBUG=true
    APP_URL=http://localhost
    LOG_CHANNEL=stack
    LOG_LEVEL=debug
  
  database: |
    DB_CONNECTION=mysql
    DB_HOST=127.0.0.1
    DB_PORT=3306
    DB_DATABASE=gatewayadmin

---
apiVersion: v1
kind: Secret
metadata:
  name:  gtwadmin-database
  namespace: gateway-admin
data:
  DB_USERNAME: dXNlcg==
  DB_PASSWORD: cGlwN0VSOVNSNGxieG1GZkxPUEtKVnVBTmx4R2xDMXY=
type: Opaque