apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: gtwadmin-service
  namespace: gateway-admin
  labels:
    app.kubernetes.io/name: "gtwadmin-service"
    app.kubernetes.io/instance: "gtwadmin-zgdh42"
    app.kubernetes.io/version: "0.0.2"
    app.kubernetes.io/component: service
    app.kubernetes.io/part-of: gateway-admin
spec:
  template:
    spec:
      imagePullSecrets: 
        - name: regcred
      containers:
        - image: 617751658601.dkr.ecr.us-east-2.amazonaws.com/integrations/gateway-adm:0.0.3
          workingDir: /var/www
          command: 
            - /bin/sh
            - -c
            - "nginx -g \"daemon on;\" && php-fpm -Fy /usr/local/etc/php-fpm.d/www.conf"
          imagePullPolicy: Always
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: gtwadmin-database
                  key: DB_PASSWORD
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: gtwadmin-database
                  key: DB_USERNAME
          envFrom:
            - configMapRef:
                name: gtwadmin-config
                key: data.application
            - configMapRef:
                name: gtwadmin-config
                key: data.database
          readinessProbe:
            exec:
              command:
                - cat
                - /run/nginx/nginx.pid                
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: "/"
            initialDelaySeconds: 10
            timeoutSeconds: 10
          ports:
          - containerPort: 80
            protocol: TCP
          resources:
            limits:
              cpu: 150m
              memory: 256M
