apiVersion: v1
kind: Service
metadata:
  name: mysql-svc
spec:
  ports:
    - port: 3306
  clusterIP: None
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: databases
spec:
  selector: {}
  strategy:
    type: Recreate
  template:
    spec:
      containers:
      - image: mysql:8
        name: mysql
        env:
        - name: MYSQL_USERNAME
          valueFrom:
            secretKeyRef:
              name: mysql-user-secret
              key: username
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-user-secret
              key: password
        envFrom:
          - configMapRef:
              name: mysql-config
              key: options
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
          - name: mysql-persistent-storage
            mountPath: /var/lib/mysql
          - name: my-cnf
            mountPath: "/etc/mysql/conf.d/default.cnf"
            readOnly: true
          
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: mysql-pv-claim
      - name: my-cnf
        configMap:
          name: mysql-config
          key: data.cnf
    